.app-btn {
  margin: auto;
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
}

.app-btn:hover {
  box-shadow: 0 0 4px #0000004d;
  transition: box-shadow 100ms ease  ;
}


.form-container {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: #0002;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.close-form {
  transform: translateX(-100%);
}

.user-container {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}