/*=============================================================================================*/
/* F U E N T E S
/*=============================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*=============================================================================================*/
/* S E L E C T O R   U N I V E R S A L
/*=============================================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
 

    font-family: 'Roboto', sans-serif;
}

button {
    display: block;
    border: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

input {
    outline: none;

}

.h2-autoresize { font-size: calc(12px + (24 - 12) * ((100vw - 350px) / (1400 - 350))); }
.h3-autoresize { font-size: calc(8px + (16 - 8) * ((100vw - 350px) / (1400 - 350))); }